//
   Created by jaric on 03.06.2015.

doctype html
html(ng-app="jDocxApp")
    head
        title= "jDocxApp"
        link(rel='stylesheet' href='/stylesheets/style.css')
        meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        script(src="/javascripts/angular.js")
        script(src='/javascripts/ui-bootstrap-tpls-0.12.0.js')
        //-script(src="http://yastatic.net/angularjs/1.3.8/angular.min.js")
        script(src="/javascripts/jDocxApp.js")
        script(src="/javascripts/jDocxControllers.js")
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        //-link(rel='stylesheet' href='http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css')
        //-link(rel='stylesheet' href='/bootstrap/css/bootstrap-theme.css')
    body(ng-controller="jDocxMainController")

        div(class="container-fluid")
            section(class="tab" ng-controller="TabController as tab")
                ul(class="nav nav-tabs")
                    li(ng-class="{active: tab.isSet(0) }")
                        a(href ng-click="tab.setTab(0)") Docx
                    li(ng-class="{active: tab.isSet(1) }")
                        a(href ng-click="tab.setTab(1)") TODOs
                    li(ng-class="{active: tab.isSet(2) }")
                        a(href ng-click="tab.setTab(2)") Info

                //- PREDICTION GAME PREDICTION GAME PREDICTION GAME PREDICTION GAME PREDICTION GAME PREDICTION GAME
                div(ng-show="tab.isSet(0)" ng-controller="ReportController as ReportCtrl")

                    div(class="container-fluid")
                        div(class="row")
                            form(name="reportForm")

                                //- Review Form Review Form Review Form Review Form Review Form Review Form Review Form
                                h4 Заполните форму (лист аттестации):
                                fieldset(class="form-group")
                                    div(class="form-group")
                                        label(class="col-lg-2 control-label") Фамилия
                                        div(class="col-lg-10")
                                            input(ng-model="newReport.lastName" name="author" type="text" class="form-control" placeholder="Фамилия" title="Name" ng-minlength="1" ng-maxlength="100" required autofocus)
                                fieldset(class="form-group")
                                    div(class="form-group")
                                        label(class="col-lg-2 control-label") Имя
                                        div(class="col-lg-10")
                                            input(ng-model="newReport.firstName" name="author" type="text" class="form-control" placeholder="Имя" title="Name" ng-minlength="1" ng-maxlength="100")
                                fieldset(class="form-group")
                                    div(class="form-group")
                                        label(class="col-lg-2 control-label") Отчество
                                        div(class="col-lg-10")
                                            input(ng-model="newReport.patronymic" name="author" type="text" class="form-control" placeholder="Отчество" title="Name" ng-minlength="1" ng-maxlength="100")
                                fieldset(class="form-group")
                                    input(type="submit" class="btn pull-right" ng-class="{'btn-default': !reportForm.$valid, 'btn-primary': reportForm.$valid}" value="Generate report" ng-click="reportForm.$valid && ReportCtrl.generateReport()")

                                fieldset(class="form-group")
                                    input(type="submit" class="btn pull-right" ng-class="{'btn-default': !reportForm.$valid, 'btn-primary': reportForm.$valid}" value="Generate report (file as param)" ng-click="reportForm.$valid && ReportCtrl.generateReportAlternative()")


                                //- Live Preview
                                blockquote()
                                    span Вы ввели:
                                    br
                                    span {{newReport.lastName ? "" : "&nbsp;"}}{{newReport.lastName}}
                                        span(class="error" ng-show="reportForm.lastName.$error.maxlength") My apologize, but it's too much
                                    br
                                    span {{newReport.firstName ? "" : "&nbsp;"}}{{newReport.firstName}}
                                        span(class="error" ng-show="reportForm.firstName.$error.maxlength") My apologize, but it's too much
                                    br
                                    span {{newReport.patronymic ? "" : "&nbsp;"}}{{newReport.patronymic}}
                                        span(class="error" ng-show="reportForm.patronymic.$error.maxlength") My apologize, but it's too much





                //- TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO TO-DO
                div(ng-show="tab.isSet(1)" ng-controller="TODOController as TODOCtrl")

                    div(class="container-fluid")
                        div(class="row")
                            form(name="todoForm")

                                //- Live Preview
                                blockquote(ng-hide="true")
                                    h3(class="glyphicon" ng-class="newTODO.glyphicon")
                                    br
                                    strong Add to {{newTODO.concentration}}
                                    br
                                    span {{newTODO.text ? "" : "&nbsp;"}}{{newTODO.text}}
                                        span(class="error" ng-show="todoForm.text.$error.maxlength") My apologize, but it's too much
                                    cite(class="clearfix") —{{newTODO.author}}
                                        span(class="error" ng-show="todoForm.author.$error.maxlength") My apologize, but it's too much

                                //- Review Form Review Form Review Form Review Form Review Form Review Form Review Form
                                h4 Submit a TODO
                                fieldset(class="form-group")
                                    //- ng-options="option.name for option in options"
                                    select(ng-model="newTODO.glyphicon" class="form-control" ng-options="glyphicon for glyphicon in iconsForTODOs" title="icon")
                                        option(value) icon
                                fieldset(class="form-group")
                                    select(ng-model="newTODO.glyphiconColor" class="form-control" ng-options="glyphiconColor for glyphiconColor in colorsForTODOs" title="color")
                                        option(value) color
                                fieldset(class="form-group")
                                    select(ng-model="newTODO.concentration" class="form-control" ng-options="concentration for concentration in ['back-end', 'front-end']" title="concentration")
                                        option(value) field of development
                                fieldset(class="form-group")
                                    textarea(ng-model="newTODO.text" name="text" class="form-control" placeholder="Write a short TODO..." title="todo text" ng-minlength="1" ng-maxlength="300" required)
                                fieldset(class="form-group")
                                    input(ng-model="newTODO.author" name="author" type="text" class="form-control" placeholder="What is your name?" title="Name" ng-minlength="1" ng-maxlength="100")
                                fieldset(class="form-group")
                                    input(type="submit" class="btn pull-right" ng-class="{'btn-default': !todoForm.$valid, 'btn-primary': todoForm.$valid}" value="Submit TODO" ng-click="todoForm.$valid && TODOCtrl.addTODO()")

                        div(class="row")
                            div(class="row")
                                div(class="col-xs-12")
                                    h3 TODOs:
                            //- BACK END BACK END BACK END BACK END BACK END BACK END BACK END BACK END BACK END BACK END
                            div(class="row")
                                div(class="col-xs-12 col-sm-1")
                                    h3 back-end:
                                div(class="col-xs-11 col-sm-11")

                                    //- Live Preview Live Preview Live Preview Live Preview Live Preview Live Preview
                                    div(class="row" ng-show="(newTODO.text != '' || newTODO.author != '') && newTODO.concentration == 'back-end'")
                                        div(class="col-xs-2 col-sm-1 text-center")
                                            h3(class="glyphicon" ng-class="[newTODO.glyphicon, newTODO.glyphiconColor]")
                                        div(class="col-xs-10 col-sm-11")
                                            h3 {{newTODO.text ? "" : "&nbsp;"}}{{newTODO.text}}
                                                span(class="error" ng-show="todoForm.text.$error.maxlength") My apologize, but it's too much
                                            span {{newTODO.author}}
                                                span(class="error" ng-show="todoForm.author.$error.maxlength") My apologize, but it's too much

                                    //- Users back-end TODOs Users back-end TODOs Users back-end TODOs Users back-end TODOs
                                    div(class="row" ng-repeat="backEndTODO in TODOs | orderBy : 'createdOn':true")
                                        div(ng-show="backEndTODO.concentration == 'back-end'")
                                            div(class="col-xs-2 col-sm-1 text-center")
                                                h3(class="glyphicon" ng-class="[backEndTODO.glyphicon, backEndTODO.glyphiconColor]")
                                            div(class="col-xs-10 col-sm-11")
                                                h3 {{backEndTODO.text}}
                                                span {{backEndTODO.author}}
                                                br
                                                span(class="text-muted") —{{backEndTODO.createdOn | date:'dd.MM.yyyy, HH:mm:ss'}}

                                    //- static back-end TODOs
                                    div(class="row")
                                        div(class="col-xs-2 col-sm-1 text-center")
                                            h3(class="glyphicon glyphicon-remove text-danger")
                                        div(class="col-xs-10 col-sm-11")
                                            h3 It does nothing for now
                                            span Text would be here until it could do first document correctly

                            //- FRONT END FRONT END FRONT END FRONT END FRONT END FRONT END FRONT END FRONT END FRONT END
                            div(class="row")
                                div(class="col-xs-12 col-sm-1")
                                    h3 front-end:
                                div(class="col-xs-11 col-sm-11")

                                    //- Live Preview Live Preview Live Preview Live Preview Live Preview Live Preview
                                    div(class="row" ng-show="(newTODO.text != '' || newTODO.author != '') && newTODO.concentration == 'front-end'")
                                        div(class="col-xs-2 col-sm-1 text-center")
                                            h3(class="glyphicon" ng-class="[newTODO.glyphicon, newTODO.glyphiconColor]")
                                        div(class="col-xs-10 col-sm-11")
                                            h3 {{newTODO.text ? "" : "&nbsp;"}}{{newTODO.text}}
                                                span(class="error" ng-show="todoForm.text.$error.maxlength") My apologize, but it's too much
                                            span {{newTODO.author}}
                                                span(class="error" ng-show="todoForm.author.$error.maxlength") My apologize, but it's too much

                                    //- Users back-end TODOs Users back-end TODOs Users back-end TODOs Users back-end TODOs
                                    div(class="row" ng-repeat="frontEndTODO in TODOs | orderBy : 'createdOn':true")
                                        div(ng-show="frontEndTODO.concentration == 'front-end'")
                                            div(class="col-xs-2 col-sm-1 text-center")
                                                h3(class="glyphicon" ng-class="[frontEndTODO.glyphicon, frontEndTODO.glyphiconColor]")
                                            div(class="col-xs-10 col-sm-11")
                                                h3 {{frontEndTODO.text}}
                                                span {{frontEndTODO.author}}
                                                br
                                                span(class="text-muted") —{{frontEndTODO.createdOn | date:'dd.MM.yyyy, HH:mm:ss'}}

                                    //- static front-end TODOs
                                    div(class="row")
                                        div(class="col-xs-2 col-sm-1 text-center")
                                            h3(class="glyphicon glyphicon-remove")
                                        div(class="col-xs-10 col-sm-11")
                                            h3 Make manual
                                    div(class="row")
                                        div(class="col-xs-2 col-sm-1 text-center")
                                            h3(class="glyphicon glyphicon-remove")
                                        div(class="col-xs-10 col-sm-11")
                                            h3 Fill in information block


                //- INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO INFO
                div(ng-show="tab.isSet(2)")
                    div(class="container")
                        h2 docxTemp
                        p
                        h3 Contacts:
                        h4 Jaric, mm1000@list.ru
